<section>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rango</th>
            <th scope="col">Contacto</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
    
            <td>66.999.333</td>
            <td>Otto</td>
            <td>Soria</td>
            <td>xx</td>
            <td>3548 xxxx</td>
          </tr>
          <tr>
          
            <td>555.565.764</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>xx</td>
            <td>789</td>
          </tr>
          <tr>
            
            <td>987.565.764</td>
            <td>Lola</td>
            <td>Ruiz</td>
            <td>xx</td>
            <td>789</td>
          </tr>
          
            
        
        </tbody>
      </table>
</section>
