

 <div class="container-fluid"></div>    
  <h2>Registro de usuario</h2>
      <div class="row">
        <div class="col-12" <form>
         
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
      
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br><br>
      
            <label for="identificacion">Codigo de identificacion :</label>
            <input type="text" id="identificacion" name="identificacion" required><br><br>
      
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" required><br><br>
    
            <label for="DNI">DNI</label>
            <input type="text" id="DNI" name="DNI" required><br><br>
    
            <label for="rango">rango</label>
            <input type="text" id="rango" name="rango"  required> <br><br>
          
            <button type="submit" class="animated-button"><i class="fas fa-sign-in-alt"></i> Registrar</button>
        
    
 
        </div>
       


        
      </div>
  
      





