body {
  padding: 0;
  margin: 0;
}

header {
    background-color: #aa1111;
    padding-top: 20px;
    box-shadow: 10px 5px 10px rgb(194, 191, 191);

    
  }

  header .img0{
	width: 15%;
	height: auto;
	left: 100%;
	max-width: 15%;
	display: block;
	
  }

  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header nav ul li {
    display: inline;
    margin-right: 10px;
    text-align: center;
  }

  header nav ul li a {
    text-decoration: none;
    color: #faf4f4;
    padding: 5px 10px;
    text-align: center;
  }
.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.hytext {
    background-color: rgb(78, 12, 12);
    padding: 1%;
    
}

.bg {
	background-color: #f1efe3;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.footer-distributed{ 
	background: rgb(78, 12, 12);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left; 
	font: bold 16px sans-serif;
	padding: 55px 50px;
    font-family: Open Sans;
    margin-top: 100px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer Derecho */

.footer-distributed .footer-left{
	width: 40%;
}

/* Logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px;
  font-family: Arial;
	margin: 0;
}

.footer-distributed h3 span{
	color: #dd1709;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(255, 255, 255);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Centro */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
	width: 20%;
	background-color: #b44343;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}


.hytext {
 
    padding: 1%;
    

	}
}

.info {
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

.ant {
  display: block;
  font-family: Arial;
  margin-top: 50px;
  padding: 60px;
  margin-left: 60px;
}

.antecedentes {
  text-align: right;
  margin-right: 60px;
}

.img1 {
	
	width: 356px;
	height: 252px;
	float: left;
	margin-right: 50px;
}

.img2 {
	margin-top: 50px;
	width: 356px;
	height: 252px;
	float: right;
	margin-left: 50px;
}
