<footer class="footer-distributed">
<div class="row" class="footer-left"> 
        <div class="col-4">
            <h3>Bomberos<span> La Falda </span></h3>    
            <a href="#"> Informacion </a>
            <br>
            <a href="#"> Contacto </a>
            <br>            
            <a href="#"> Servicios </a>
            <br>
            <a href="#"> Registro </a>
            <p class="footer-company-name">PRoA La Falda © 2023</p>
        </div>
    
    <div class="col-4" class="footer-center"> 
        <div>
            <i class="Localidad"></i>
            <p><span>La Falda</span> Córdoba, Argentina</p>
        </div>  
        <div>
            <i class="Celular de los Bomberos"></i>
            <p>+54 3548-422631</p>
        </div> 
    </div> 
    <div class="col-4" class="footer-right">  
        <p class="footer-company-about">
            Bv.Bruno y Walter Einnchorn 40
        </p>  
        <div class="footer-icons"> 
            <a href="https://m.facebook.com/bomberosvoluntarios.lafalda/?fref=mentions" target="_blank">             
                <img src="/AppB/src/assets/img/logos/facebook.jpeg" width="30" height="30">              
                <i class="facebook de los bomberos"></i>
            </a>    
            <a href="https://www.instagram.com/bomberos_lafalda/" target="_blank">
                <img src="/AppB/src/assets/img/logos/instagram.png" width="30" height="30">
                <i class="instagram de los bomberos"></i>
            </a>
            <img src="img/logobb.png" width="30" height="30">
            <i class="logo.bomberos"></i>
        </div>
    </div>
</div>
  </footer>
