<div class="container-fluid">
  <div class="login-container">
    <div class="row">
      <h2>Iniciar sesión</h2>
      <form action="#" method="POST">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <label for="username"><i class="fas fa-user"></i> Usuario:</label>
<p>login works!</p>

<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form action="#" method="POST">
      <div class="form-group">
        <label for="username"><i class="user"></i> Usuario:</label>
        <input type="text" id="username" name="username" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
        <div class="form-group">
        <label for="password"><i class="fas fa-lock"></i> Contraseña:</label>
      <div class="form-group">
        <label for="password"><i class="lock"></i> Contraseña:</label>
        <input type="password" id="password" name="password" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="animated-button"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
        </form>
    </div>
  </div>
  </div>
</div>
      <div>
        <label for="DNI"><i class="DNI"></i> DNI</label>
        <input type="text" id="DNI" name="DNI" required>
      </div>
      <div>
        <label for="rango"><i class="rango"></i> rango:</label>
        <input type="text" id="DNI" name="rango" required>
      </div>
      <button type="submit" class="animated-button"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
    </form>
  </div>
