
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    width: 300px;
    padding: 20px;
    background-color: #ffb3b3;
    border-radius: 5px;
  }

  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff5100;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #d90000;
  }
