<p>navbar works!</p>

<nav>
    <ul class="hytext">
      <li><a href="index.html" class="active">Inicio</a></li>
      <li><a href="./login/login.html">Log In</a></li>
      <li><a href="./registro de siniestros/registro siniestros.html">Registro Siniestro</a></li>
      <li><a href="./historial/historialsiniestro.html">Historial</a></li>
      <li><a href="./registro/registro.html">Registro</a></li>
      <li><a href="./personal/personal.html">Personal</a></li>
      <li> <a href="./tutorial/tutorial.html"> Tutorial</a></li>
    </ul>
  </nav>