
<nav>
  <ul class="hytext">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
         <li><a class="nav-link"routerLink='/Home'>Inicio</a></li> 
        </div>

        <div class="col">
         <li><a class="nav-link"routerLink='/Login'>Login</a></li>
        </div>

        <div class="col">
          <li><a class="nav-link"routerLink='/Registrodesiniestro'>RegistroSiniestro</a></li>
        </div>
        
    
        <div class="col">
          <li><a class="nav-link"routerLink='/Historialsini'>Historial</a></li>
        </div>

        <div class="col">
          <li><a class="nav-link"routerLink='/Registro'>Registro</a></li>
        </div>
        
        <div class="col">
          <li><a class="nav-link"routerLink='/Personal'>Personal</a></li>
        </div>
        <div class="col">
          <li><a class="nav-link"routerLink='/Tutorial'>Tutorial</a></li>
        </div>
      </div>
    </div>
  </ul>
</nav>
  