<p>navbar works!</p>

<nav>
    <ul class="hytext">
      <li><a routerLink="./home" class="active">Inicio</a></li>
      <li><a routerLink="./login" class="active">Login</a></li>
      <li><a routerLink="./Registrodesiniestro">Registro Siniestro</a></li>
      <li><a routerLink="./historialsini">Historial</a></li>
      <li><a routerLink="./registro">Registro</a></li>
      <li><a routerLink="./personal">Personal</a></li>
      <li> <a routerLink="./tutorial"> Tutorial</a></li>
    </ul>
  </nav>