USE [master]
GO
/****** Object:  Database [BomberosDB]    Script Date: 30/6/2023 11:36:07 ******/
CREATE DATABASE [BomberosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BomberosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BomberosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BomberosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BomberosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BomberosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BomberosDB]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 30/6/2023 11:36:07 ******/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/

/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
/*Tablas*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id_Unidad] [int] NOT NULL,
	[nombre_Unidad] [text] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[id_Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jerarquias]    Script Date: 30/6/2023 11:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jerarquias](
	[id_Jerarquia] [int] NOT NULL,
	[nombre_Jerarquia] [text] NOT NULL,
 CONSTRAINT [PK_Jerarquias] PRIMARY KEY CLUSTERED 
(
	[id_Jerarquia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos_Jerarquia]    Script Date: 30/6/2023 11:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos_Jerarquia](
	[id_Jerarquia] [int] NOT NULL,
	[permisoRegistrar] [bit] NOT NULL,
	[permisoIngresar] [bit] NOT NULL,
	[permisoSiniestro] [bit] NOT NULL,
	[permisoInventario] [bit] NOT NULL,
 CONSTRAINT [PK_Permisos_Jerarquia] PRIMARY KEY CLUSTERED 
(
	[id_Jerarquia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro]    Script Date: 30/6/2023 11:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro](
	[id_Registro] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[lugar] [text] NOT NULL,
 CONSTRAINT [PK_Registro] PRIMARY KEY CLUSTERED 
(
	[id_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniestro]    Script Date: 30/6/2023 11:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniestro](
	[id_siniestro] [int] NOT NULL,
	[DNI_bombero] [int] NOT NULL,
	[id_registro] [int] NOT NULL,
	[id_Unidad] [int] NOT NULL,
	[ApellidoBombero] [text] NOT NULL,
	[DNI_encargado] [int] NOT NULL,
	[ApellidoEncargado] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
 CONSTRAINT [PK_Siniestro] PRIMARY KEY CLUSTERED 
(
	[id_siniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/6/2023 11:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] NOT NULL,
	[Apellido] [text] NOT NULL,
	[Nombre] [text] NOT NULL,
	[id_Jerarquia] [int] NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permisos_Jerarquia]  WITH CHECK ADD  CONSTRAINT [FK_Permisos_Jerarquia_Jerarquias] FOREIGN KEY([id_Jerarquia])
REFERENCES [dbo].[Jerarquias] ([id_Jerarquia])
GO
ALTER TABLE [dbo].[Permisos_Jerarquia] CHECK CONSTRAINT [FK_Permisos_Jerarquia_Jerarquias]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [FK_Siniestro_Inventario] FOREIGN KEY([id_Unidad])
REFERENCES [dbo].[Inventario] ([id_Unidad])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [FK_Siniestro_Inventario]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [FK_Siniestro_Registro] FOREIGN KEY([id_registro])
REFERENCES [dbo].[Registro] ([id_Registro])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [FK_Siniestro_Registro]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [FK_Siniestro_Usuarios] FOREIGN KEY([DNI_bombero])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [FK_Siniestro_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Jerarquias] FOREIGN KEY([id_Jerarquia])
REFERENCES [dbo].[Jerarquias] ([id_Jerarquia])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Jerarquias]
GO
USE [master]
GO
