<div class="container-fluid">
  <div class="row">
    <section class="bg">
    <div class="info">
      <img src="img/bombero3.jpeg" class="img1">
      <h1 class="informacion">Información</h1>
      <h2 class="nosotros"> 7 DE AGOSTO DE 1969
        52 AÑOS AL SERVICIO DE LA COMUNIDAD , LA FALDA- CORDOBA
      </h2>
      <h5 class="desc">
        El Cuerpo de Bomberos de La Falda realiza capacitaciones para
        voluntarios, en tierra, a la hora de apagar incendios, ya sean forestales 
        o estructurales, y en agua, capacitaciones para rescates.
        Estas capacitaciones se emplean en conjunto con otras centrales. 
        También trabajamos colaborativamente cuando ocurre un siniestro con otros 
        cuarteles para apagar incendios, utilizando nuestros equipamientos. 
        Además de esto, ayudamos a nuestros vecinos locales ante aler