<section class="bg">
    <div class="info">
      <img src="img/bombero3.jpeg" class="img1">
      <h1 class="informacion">Información</h1>
      <h2 class="nosotros"> 7 DE AGOSTO DE 1969
        52 AÑOS AL SERVICIO DE LA COMUNIDAD , LA FALDA- CORDOBA
      </h2>
      <h5 class="desc">
        El Cuerpo de Bomberos de La Falda realiza capacitaciones para
        voluntarios, en tierra, a la hora de apagar incendios, ya sean forestales 
        o estructurales, y en agua, capacitaciones para rescates.
        Estas capacitaciones se emplean en conjunto con otras centrales. 
        También trabajamos colaborativamente cuando ocurre un siniestro con otros 
        cuarteles para apagar incendios, utilizando nuestros equipamientos. 
        Además de esto, ayudamos a nuestros vecinos locales ante alertas meteorológicas.
       
      </h5>
      
    </div>
    
    <div class="ant">
      <img src="../proyectoISPC/img/bomberos2.jpg" class="img2">
        <h1 class="antecedentes">Antecedentes</h1>
        <h5 class="desc_a">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus elementum augue elit, sit amet aliquam erat malesuada ac.
        Pellentesque iaculis at massa at aliquam.
        Etiam tristique sagittis rutrum.
        Nulla facilisis gravida lacus vel semper.
        Mauris ullamcorper mattis mi, eu auctor elit.
        Proin at tellus pulvinar ante gravida viverra.
        Fusce leo augue, viverra id nunc sed,
        ultricies molestie arcu. Donec ultrices risus in ante rhoncus tincidunt.
        Maecenas auctor arcu et ultricies molestie.
        Integer mollis bibendum justo quis pretium.
        Pellentesque lacinia molestie neque, vel tincidunt lacus elementum non.
        Phasellus venenatis quam odio, at viverra risus viverra ut.
        </h5>
        
    </div>
    
</section>



<div class=" container">
    <section class="bg">
        <div class="info">
            <img src="img/bombero3.jpeg" class="img1">
             <h1 class="informacion">Información</h1>
            <h2 class="nosotros"> 7 DE AGOSTO DE 1969
            52 AÑOS AL SERVICIO DE LA COMUNIDAD , LA FALDA- CORDOBA
            </h2>
            <div class="col-8">
            <h5 class="desc">
            El Cuerpo de Bomberos de La Falda realiza capacitaciones para
            voluntarios, en tierra, a la hora de apagar incendios, ya sean forestales 
            o estructurales, y en agua, capacitaciones para rescates.
            Estas capacitaciones se emplean en conjunto con otras centrales. 
            También trabajamos colaborativamente cuando ocurre un siniestro con otros 
            cuarteles para apagar incendios, utilizando nuestros equipamientos. 
            Además de esto, ayudamos a nuestros vecinos locales ante alertas meteorológicas.
            </h5>
            </div>
      

    
    <div class="ant">
      <img src="" class="img2">
        </div>


        <h1 class="antecedentes">Antecedentes</h1>
          <div class="col-8"><h5 class="desc_a">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus elementum augue elit, sit amet aliquam erat malesuada ac.
            Pellentesque iaculis at massa at aliquam.
            Etiam tristique sagittis rutrum.
            Nulla facilisis gravida lacus vel semper.
            Mauris ullamcorper mattis mi, eu auctor elit.
            Proin at tellus pulvinar ante gravida viverra.
            Fusce leo augue, viverra id nunc sed,
            ultricies molestie arcu. Donec ultrices risus in ante rhoncus tincidunt.
            Maecenas auctor arcu et ultricies molestie.
            Integer mollis bibendum justo quis pretium.
            Pellentesque lacinia molestie neque, vel tincidunt lacus elementum non.
            Phasellus venenatis quam odio, at viverra risus viverra ut.
            </h5></div>
          <div class="col-4"></div>
        </div>
        
    </div>
        
    </div>
    
  </section>
</div>
