<p>historialsini works!</p>

<h1>Historial de Siniestros</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Localidad</th>
      <th scope="col">Hora</th>
      <th scope="col">Direccion</th>
      <th scope="col">Sector</th>
      <th scope="col">Tipo de siniestro</th>
      <th scope="col">Equipamiento utilizado</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">01/06/2022</th>
      <td>La Falda</td>
      <td>00:00</td>
      <td>Avenida eden 123</td>
      <td>sector x</td>
      <td>incendio estructural</td>
      <td>autobomba?</td>
      <td>explosion de garrafa a  100 </td>
    </tr>
    <tr>
      <th scope="row">05/07/2022</th>
      <td>Huerta grande </td>
      <td>15:40</td>
      <td> mi casa</td>
      <td> x</td>
      <td>Explosión de maquinaria</td>
      <td>manguera jeje</td>
      <td>Explosion por tirar combustible al fuego del hogar </td>
    </tr>
    <tr>
      <th scope="row">10/09/2022</th>
      <td>La falda</td>
      <td>6738</td>
      <td>Almacén Z</td>
      <td>Rescate de personas atrapadas bajo escombros</td>
      <td>Camion</td>
      <td>Destruccion de un edificio con personas heridas</td>
      <td>88881</td>
    </tr>
    <tr>
      <th scope="row">10/09/2022</th>
      <td>La Falda</td>
      <td>8999</td>
      <td>Almacén y</td>
      <td>Taylor Swift</td>
      <td>nose </td>
      <td>Midnight</td>
      <td>999</td>
    </tr>
    <tr>
      <th scope="row">20/12/2022</th>
      <td>999</td>
      <td>La Falda</td>
      <td>ferless</td>
      <td>Almacén Z</td>
      <td>speak mow</td>
      <td>jujuuuu </td>
      <td>re eeeee ed</td>
    </tr>
    <tr>
      <th scope="row">10/09/2022</th>
      <td>la falda</td>
      <td>1989</td>
      <td>reputation</td>
      <td>loveeeeeer</td>
      <td>folklore </td>
      <td>evermore</td>
      <td> taylor x joe</td>
    </tr>
  </tbody>
</table>
<table>
  <tr>

