<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="logo-container">
                    <img src="/assets/img/logos/logobb.png" alt="Imagen" class="logo"> 
                </div>
            </div>
        <div class="row"></div>
            <div class="titulo" class="col">
                <h1>BOMBEROS LA FALDA</h1>
            </div>
            <div class="titulo" class="col">
                <h5>BOMBEROS VOLUNTARIOS GENERAL SAN MARTÍN</h5>
            </div>
        </div>
    </div>
</div>