.header {
    background-color: #aa1111;
    box-shadow: 10px 5px 10px rgb(194, 191, 191);
    align-items: end;
    justify-content: space-around;
    text-align: center;
  }

.logo{
  max-width: 100px;
  height: auto;
}

.titulo{
  order: 5;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    position: relative;
    text-align: center;
}