/* Estilos para el encabezado y los botones de navegación */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo-container {
    margin-right: 20px;
  }
  
  .logo-container img {
    height: 40px; /* Ajusta la altura del logo según tus necesidades */
  }
  
  .title-container {
    flex-grow: 1;
    margin-bottom: 10px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  /* Estilos adicionales para el índice */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
  }
  