<div class="container-fluid">
    <div class="row">
        <h1>Registro de Siniestro</h1>
        <div class="col">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" id="ubicacion" name="ubicacion" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="sector">Sector:</label>
            <input type="text" id="sector" name="sector" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="clasificacion">Clasificación de Siniestros:</label>
            <input type="text" id="clasificacion" name="clasificacion" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="tipo">Tipo de Siniestro:</label>
            <input type="text" id="tipo" name="tipo" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="vehiculo">Vehiculo:</label>
            <input type="text" id="vehiculo" name="vehiculo" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" value="Enviar" class="animated-button">
        </div>
    </div>

</div>
